Repository ueki-tomohiro/storybook-visual-regression-test, changes with the labels that .github/labeler.yml gives for each.
All labels: web, api, chore

fix: shamefully-hoist を使うので不要な依存関係を削除
  libs/vitest/package.json
  packages/ui/package.json
  packages/web/package.json
  pnpm-lock.yaml
Labels: web, chore

chore: add .prettierignore to exclude build artifacts and pnpm-lock.yaml
  .prettierignore
Labels: none

fix: address review comments on PR #137
  .github/workflows/visual-regression-test.yaml
  CLAUDE.md
  tools/vrt-selector/src/story-candidates.js
Labels: chore

fix: address additional review comments on PR #137
  libs/playwright/package.json
  packages/ui/regconfig.json
  packages/web/regconfig.json
  packages/web/tsconfig.json
Labels: web, chore

fix: resolve CI failures in VRT workflow
  .github/workflows/visual-regression-test.yaml
  packages/ui/snapshot/snapshot.test.ts
  packages/web/snapshot/snapshot.test.ts
Labels: web, chore

fix: inline pnpm setup in base branch jobs to avoid cache conflict
  .github/workflows/visual-regression-test.yaml
Labels: chore

deploy: 770d3b7cf2b7fb720ebce7cafe3f96827120458b
  .nojekyll
  pr-139/actual/ui/snapshot.test.ts-snapshots/components/Button/components-button--default-linux.png
  pr-139/actual/ui/snapshot.test.ts-snapshots/components/Checkbox/components-checkbox--default-linux.png
  pr-139/actual/ui/snapshot.test.ts-snapshots/components/Container/components-container--default-linux.png
  pr-139/actual/ui/snapshot.test.ts-snapshots/components/InputField/components-inputfield--default-linux.png
  pr-139/actual/ui/snapshot.test.ts-snapshots/components/LinkButton/components-linkbutton--default-linux.png
  pr-139/actual/ui/snapshot.test.ts-snapshots/components/Meta/components-meta--default-linux.png
  pr-139/actual/web/snapshot.test.ts-snapshots/views/DetailView/views-detailview--default-linux.png
  pr-139/actual/web/snapshot.test.ts-snapshots/views/EditView/views-editview--default-linux.png
  pr-139/actual/web/snapshot.test.ts-snapshots/views/HomeView/views-homeview--default-linux.png
  pr-139/actual/web/snapshot.test.ts-snapshots/views/RegisterView/views-registerview--default-linux.png
  pr-139/actual/web/snapshot.test.ts-snapshots/views/TodoItem/views-todoitem--default-linux.png
  pr-139/detector.wasm
  pr-139/index.html
  pr-139/out.json
  pr-139/worker.js
Labels: none

deploy: 7cbbcfba404e54e7bb0f6da031b73cc2fdbe1f92
  pr-139/diff/ui/snapshot.test.ts-snapshots/components/Button/components-button--default-linux.png
  pr-139/diff/web/snapshot.test.ts-snapshots/views/EditView/views-editview--default-linux.png
  pr-139/diff/web/snapshot.test.ts-snapshots/views/HomeView/views-homeview--default-linux.png
  pr-139/diff/web/snapshot.test.ts-snapshots/views/RegisterView/views-registerview--default-linux.png
  pr-139/expected/ui/snapshot.test.ts-snapshots/components/Button/components-button--default-linux.png
  pr-139/expected/ui/snapshot.test.ts-snapshots/components/Checkbox/components-checkbox--default-linux.png
  pr-139/expected/ui/snapshot.test.ts-snapshots/components/Container/components-container--default-linux.png
  pr-139/expected/ui/snapshot.test.ts-snapshots/components/InputField/components-inputfield--default-linux.png
  pr-139/expected/ui/snapshot.test.ts-snapshots/components/LinkButton/components-linkbutton--default-linux.png
  pr-139/expected/ui/snapshot.test.ts-snapshots/components/Meta/components-meta--default-linux.png
  pr-139/expected/web/snapshot.test.ts-snapshots/views/DetailView/views-detailview--default-linux.png
  pr-139/expected/web/snapshot.test.ts-snapshots/views/EditView/views-editview--default-linux.png
  pr-139/expected/web/snapshot.test.ts-snapshots/views/HomeView/views-homeview--default-linux.png
  pr-139/expected/web/snapshot.test.ts-snapshots/views/RegisterView/views-registerview--default-linux.png
  pr-139/expected/web/snapshot.test.ts-snapshots/views/TodoItem/views-todoitem--default-linux.png
  pr-139/index.html
  pr-139/out.json
Labels: none

feat: lefthookでpre-commitにlint/formatの自動修正を設定
  lefthook.yml
  package.json
  pnpm-lock.yaml
Labels: none

deploy: 2cfeaec6a8434bed88b42a004eae0e5ff3050696
  pr-140/actual/ui/snapshot.test.ts-snapshots/components/Button/components-button--default-linux.png
  pr-140/actual/ui/snapshot.test.ts-snapshots/components/Checkbox/components-checkbox--default-linux.png
  pr-140/actual/ui/snapshot.test.ts-snapshots/components/Container/components-container--default-linux.png
  pr-140/actual/ui/snapshot.test.ts-snapshots/components/InputField/components-inputfield--default-linux.png
  pr-140/actual/ui/snapshot.test.ts-snapshots/components/LinkButton/components-linkbutton--default-linux.png
  pr-140/actual/ui/snapshot.test.ts-snapshots/components/Meta/components-meta--default-linux.png
  pr-140/actual/web/snapshot.test.ts-snapshots/views/DetailView/views-detailview--default-linux.png
  pr-140/actual/web/snapshot.test.ts-snapshots/views/EditView/views-editview--default-linux.png
  pr-140/actual/web/snapshot.test.ts-snapshots/views/HomeView/views-homeview--default-linux.png
  pr-140/actual/web/snapshot.test.ts-snapshots/views/RegisterView/views-registerview--default-linux.png
  pr-140/actual/web/snapshot.test.ts-snapshots/views/TodoItem/views-todoitem--default-linux.png
  pr-140/detector.wasm
  pr-140/index.html
  pr-140/out.json
  pr-140/worker.js
Labels: none

fix: レビュー指摘を対応 - glob再帰化・stage_fixed追加・parallel削除・prepareスクリプト追加
  lefthook.yml
  package.json
Labels: none

test: HomeViewのボタンラベルを「登録」から「新規登録」に変更してVRTワークフローをテスト
  packages/web/src/presentation/home/HomeView/HomeView.tsx
Labels: web

test: Buttonコンポーネントの角丸をroundedからrounded-fullに変更してVRTワークフローをテスト
  packages/ui/components/Button/Button.tsx
Labels: none

fix: reg-simple-keygen-pluginをregconfig.jsonに追加しPRコメントのdetached HEAD問題を修正
  .github/workflows/visual-regression-test.yaml
  regconfig.json
Labels: chore

fix: vitest.config.mtsにnode_modulesの除外を追加してcoverageの失敗を修正
  vitest.config.mts
Labels: none

fix: publish()からREPORT_URLを返してPRコメントにGitHub Pagesリンクを表示
  tools/reg-local-publisher-plugin/src/index.js
Labels: chore

feat: reg-local-publisher-pluginを追加してCIローカルファイルによるVRT比較を実現
  package.json
  pnpm-lock.yaml
  regconfig.json
  tools/reg-local-publisher-plugin/package.json
  tools/reg-local-publisher-plugin/src/index.js
Labels: chore

fix: CodeRabbitレビュー指摘を対応
  .github/workflows/visual-regression-test.yaml
  regconfig.json
  tools/reg-local-publisher-plugin/src/index.js
Labels: chore

test: コンポーネント変更に合わせてスナップショットを更新
  packages/ui/components/Button/__snapshots__/Button.test.tsx.snap
  packages/web/src/presentation/edit/EditView/__snapshots__/EditView.test.tsx.snap
  packages/web/src/presentation/home/HomeView/__snapshots__/HomeView.test.tsx.snap
  packages/web/src/presentation/register/RegisterView/__snapshots__/RegisterView.test.tsx.snap
Labels: web

fix: base branchのスナップショットを.reg/expectedに配置してreg-suitの比較を有効化
  .github/workflows/visual-regression-test.yaml
Labels: chore

fix format
  tools/reg-local-publisher-plugin/src/index.js
Labels: chore

chore: remediate dependabot alerts and harden update flow
  .eslintrc.cjs
  .github/dependabot.yml
  .mise.toml
  .node-version
  .stylelintignore
  lerna.json
  libs/storybook/config/main.ts
  libs/storybook/package.json
  libs/vitest/package.json
  package.json
  packages/api/lib/demo/todo/todo.msw.ts
  packages/api/lib/demo/todo/todo.ts
  packages/ui/package.json
  packages/web/package.json
  pnpm-lock.yaml
  tools/api-client-generator/package.json
Labels: web, api, chore

fix: align msw v2 mocks with web consumers
  packages/api/package.json
  packages/web/src/mocks/server.ts
  packages/web/src/pages/index.test.tsx
  packages/web/src/pages/register.test.tsx
  packages/web/src/presentation/detail/DetailView/DetailView.stories.tsx
  packages/web/src/presentation/edit/EditView/EditView.stories.tsx
  packages/web/src/presentation/home/HomeView/HomeView.stories.tsx
  packages/web/src/presentation/home/TodoItem/TodoItem.stories.tsx
  pnpm-lock.yaml
Labels: web, api

deploy: cba085b9abb0a0ac8bceebb5ddd7ce86a3f6c9ed
  pr-141/actual/ui/snapshot.test.ts-snapshots/components/Button/components-button--default-linux.png
  pr-141/actual/ui/snapshot.test.ts-snapshots/components/Checkbox/components-checkbox--default-linux.png
  pr-141/actual/ui/snapshot.test.ts-snapshots/components/Container/components-container--default-linux.png
  pr-141/actual/ui/snapshot.test.ts-snapshots/components/InputField/components-inputfield--default-linux.png
  pr-141/actual/ui/snapshot.test.ts-snapshots/components/LinkButton/components-linkbutton--default-linux.png
  pr-141/actual/ui/snapshot.test.ts-snapshots/components/Meta/components-meta--default-linux.png
  pr-141/actual/web/snapshot.test.ts-snapshots/views/DetailView/views-detailview--default-linux.png
  pr-141/actual/web/snapshot.test.ts-snapshots/views/EditView/views-editview--default-linux.png
  pr-141/actual/web/snapshot.test.ts-snapshots/views/HomeView/views-homeview--default-linux.png
  pr-141/actual/web/snapshot.test.ts-snapshots/views/RegisterView/views-registerview--default-linux.png
  pr-141/actual/web/snapshot.test.ts-snapshots/views/TodoItem/views-todoitem--default-linux.png
  pr-141/detector.wasm
  pr-141/expected/ui/snapshot.test.ts-snapshots/components/Button/components-button--default-linux.png
  pr-141/expected/ui/snapshot.test.ts-snapshots/components/Checkbox/components-checkbox--default-linux.png
  pr-141/expected/ui/snapshot.test.ts-snapshots/components/Container/components-container--default-linux.png
  pr-141/expected/ui/snapshot.test.ts-snapshots/components/InputField/components-inputfield--default-linux.png
  pr-141/expected/ui/snapshot.test.ts-snapshots/components/LinkButton/components-linkbutton--default-linux.png
  pr-141/expected/ui/snapshot.test.ts-snapshots/components/Meta/components-meta--default-linux.png
  pr-141/expected/web/snapshot.test.ts-snapshots/views/DetailView/views-detailview--default-linux.png
  pr-141/expected/web/snapshot.test.ts-snapshots/views/EditView/views-editview--default-linux.png
  pr-141/expected/web/snapshot.test.ts-snapshots/views/HomeView/views-homeview--default-linux.png
  pr-141/expected/web/snapshot.test.ts-snapshots/views/RegisterView/views-registerview--default-linux.png
  pr-141/expected/web/snapshot.test.ts-snapshots/views/TodoItem/views-todoitem--default-linux.png
  pr-141/index.html
  pr-141/out.json
  pr-141/worker.js
Labels: none

migrate: replace eslint/prettier with oxlint/oxfmt
  .eslintrc.cjs
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  lefthook.yml
  package.json
  packages/api/lib/demo/todo/todo.msw.ts
  packages/api/lib/demo/todo/todo.ts
  packages/api/lib/demoHttpClient.ts
  packages/api/package.json
  packages/ui/components/InputField/InputField.tsx
  packages/web/package.json
  packages/web/src/pages/index.test.tsx
  packages/web/src/pages/register.test.tsx
  packages/web/src/presentation/edit/EditView/EditView.tsx
  packages/web/src/presentation/register/RegisterView/RegisterView.tsx
  pnpm-lock.yaml
  prettier.config.js
  tools/reg-local-publisher-plugin/package.json
  tools/vrt-selector/src/story-candidates.js
Labels: web, api, chore

deploy: 10a3aed8742be10c89bc5448616dca57cb93e120
  pr-160/actual/ui/snapshot.test.ts-snapshots/components/Button/components-button--default-linux.png
  pr-160/actual/ui/snapshot.test.ts-snapshots/components/Checkbox/components-checkbox--default-linux.png
  pr-160/actual/ui/snapshot.test.ts-snapshots/components/Container/components-container--default-linux.png
  pr-160/actual/ui/snapshot.test.ts-snapshots/components/InputField/components-inputfield--default-linux.png
  pr-160/actual/ui/snapshot.test.ts-snapshots/components/LinkButton/components-linkbutton--default-linux.png
  pr-160/actual/ui/snapshot.test.ts-snapshots/components/Meta/components-meta--default-linux.png
  pr-160/actual/web/snapshot.test.ts-snapshots/views/DetailView/views-detailview--default-linux.png
  pr-160/actual/web/snapshot.test.ts-snapshots/views/EditView/views-editview--default-linux.png
  pr-160/actual/web/snapshot.test.ts-snapshots/views/HomeView/views-homeview--default-linux.png
  pr-160/actual/web/snapshot.test.ts-snapshots/views/RegisterView/views-registerview--default-linux.png
  pr-160/actual/web/snapshot.test.ts-snapshots/views/TodoItem/views-todoitem--default-linux.png
  pr-160/detector.wasm
  pr-160/expected/ui/snapshot.test.ts-snapshots/components/Button/components-button--default-linux.png
  pr-160/expected/ui/snapshot.test.ts-snapshots/components/Checkbox/components-checkbox--default-linux.png
  pr-160/expected/ui/snapshot.test.ts-snapshots/components/Container/components-container--default-linux.png
  pr-160/expected/ui/snapshot.test.ts-snapshots/components/InputField/components-inputfield--default-linux.png
  pr-160/expected/ui/snapshot.test.ts-snapshots/components/LinkButton/components-linkbutton--default-linux.png
  pr-160/expected/ui/snapshot.test.ts-snapshots/components/Meta/components-meta--default-linux.png
  pr-160/expected/web/snapshot.test.ts-snapshots/views/DetailView/views-detailview--default-linux.png
  pr-160/expected/web/snapshot.test.ts-snapshots/views/EditView/views-editview--default-linux.png
  pr-160/expected/web/snapshot.test.ts-snapshots/views/HomeView/views-homeview--default-linux.png
  pr-160/expected/web/snapshot.test.ts-snapshots/views/RegisterView/views-registerview--default-linux.png
  pr-160/expected/web/snapshot.test.ts-snapshots/views/TodoItem/views-todoitem--default-linux.png
  pr-160/index.html
  pr-160/out.json
  pr-160/worker.js
Labels: none

fix: replace isLoading with isPending for react-query v5
  packages/web/src/pages/register.tsx
  packages/web/src/pages/todo/[...params].tsx
Labels: web

fix: address PR review comments
  lefthook.yml
  package.json
  pnpm-lock.yaml
Labels: none

chore: migrate storybook to v10
  libs/storybook/config/main.ts
  libs/storybook/config/preview.ts
  libs/storybook/package.json
  libs/vitest/helpers/index.tsx
  libs/vitest/package.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/components/Button/Button.stories.tsx
  packages/ui/components/InputField/InputField.stories.tsx
  packages/web/.storybook/main.ts
  packages/web/.storybook/preview.ts
  packages/web/snapshot/a11y.test.ts
  packages/web/src/presentation/edit/EditView/EditView.stories.tsx
  packages/web/src/presentation/register/RegisterView/RegisterView.stories.tsx
  pnpm-lock.yaml
Labels: web, chore

fix: update stylelint config for stylelint 17
  .stylelintrc.js
Labels: none

chore(deps): aggregate dependabot updates
  libs/tailwind/package.json
  libs/vitest/package.json
  package.json
  packages/api/package.json
  packages/web/package.json
  pnpm-lock.yaml
Labels: web, api, chore

deploy: e6c7950c9c1d3e4d8a0f962473744d1db17ae713
  pr-225/actual/ui/snapshot.test.ts-snapshots/components/Button/components-button--default-linux.png
  pr-225/actual/ui/snapshot.test.ts-snapshots/components/Checkbox/components-checkbox--default-linux.png
  pr-225/actual/ui/snapshot.test.ts-snapshots/components/Container/components-container--default-linux.png
  pr-225/actual/ui/snapshot.test.ts-snapshots/components/InputField/components-inputfield--default-linux.png
  pr-225/actual/ui/snapshot.test.ts-snapshots/components/LinkButton/components-linkbutton--default-linux.png
  pr-225/actual/ui/snapshot.test.ts-snapshots/components/Meta/components-meta--default-linux.png
  pr-225/actual/web/snapshot.test.ts-snapshots/views/DetailView/views-detailview--default-linux.png
  pr-225/actual/web/snapshot.test.ts-snapshots/views/EditView/views-editview--default-linux.png
  pr-225/actual/web/snapshot.test.ts-snapshots/views/HomeView/views-homeview--default-linux.png
  pr-225/actual/web/snapshot.test.ts-snapshots/views/RegisterView/views-registerview--default-linux.png
  pr-225/actual/web/snapshot.test.ts-snapshots/views/TodoItem/views-todoitem--default-linux.png
  pr-225/detector.wasm
  pr-225/diff/ui/snapshot.test.ts-snapshots/components/Button/components-button--default-linux.png
  pr-225/diff/ui/snapshot.test.ts-snapshots/components/Checkbox/components-checkbox--default-linux.png
  pr-225/diff/ui/snapshot.test.ts-snapshots/components/Container/components-container--default-linux.png
  pr-225/diff/ui/snapshot.test.ts-snapshots/components/InputField/components-inputfield--default-linux.png
  pr-225/diff/ui/snapshot.test.ts-snapshots/components/LinkButton/components-linkbutton--default-linux.png
  pr-225/diff/ui/snapshot.test.ts-snapshots/components/Meta/components-meta--default-linux.png
  pr-225/diff/web/snapshot.test.ts-snapshots/views/DetailView/views-detailview--default-linux.png
  pr-225/diff/web/snapshot.test.ts-snapshots/views/EditView/views-editview--default-linux.png
  pr-225/diff/web/snapshot.test.ts-snapshots/views/HomeView/views-homeview--default-linux.png
  pr-225/diff/web/snapshot.test.ts-snapshots/views/RegisterView/views-registerview--default-linux.png
  pr-225/diff/web/snapshot.test.ts-snapshots/views/TodoItem/views-todoitem--default-linux.png
  pr-225/expected/ui/snapshot.test.ts-snapshots/components/Button/components-button--default-linux.png
  pr-225/expected/ui/snapshot.test.ts-snapshots/components/Checkbox/components-checkbox--default-linux.png
  pr-225/expected/ui/snapshot.test.ts-snapshots/components/Container/components-container--default-linux.png
  pr-225/expected/ui/snapshot.test.ts-snapshots/components/InputField/components-inputfield--default-linux.png
  pr-225/expected/ui/snapshot.test.ts-snapshots/components/LinkButton/components-linkbutton--default-linux.png
  pr-225/expected/ui/snapshot.test.ts-snapshots/components/Meta/components-meta--default-linux.png
  pr-225/expected/web/snapshot.test.ts-snapshots/views/DetailView/views-detailview--default-linux.png
  pr-225/expected/web/snapshot.test.ts-snapshots/views/EditView/views-editview--default-linux.png
  pr-225/expected/web/snapshot.test.ts-snapshots/views/HomeView/views-homeview--default-linux.png
  pr-225/expected/web/snapshot.test.ts-snapshots/views/RegisterView/views-registerview--default-linux.png
  pr-225/expected/web/snapshot.test.ts-snapshots/views/TodoItem/views-todoitem--default-linux.png
  pr-225/index.html
  pr-225/out.json
  pr-225/worker.js
Labels: none

.github/labeler.yml:

web:
  - packages/web/**/*
api:
  - packages/api/**/*
chore:
  - libs/**/*
  - tools/**/*
  - .github/**/*
