Repository ueki-tomohiro/storybook-visual-regression-test, changes with the labels that .github/labeler.yml gives for each.
All labels: web, api, chore

update version
  .github/workflows/bump-version.yaml
  lerna.json
  package.json
  yarn.lock
Labels: chore

update version
  .github/workflows/bump-version.yaml
Labels: chore

update version
  .github/workflows/bump-version.yaml
Labels: chore

update version
  .github/workflows/bump-version.yaml
Labels: chore

update version
  .github/workflows/bump-version.yaml
Labels: chore

bump version
  lerna.json
  libs/dayjs/package.json
  libs/jest/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

update version
  .github/workflows/bump-version.yaml
  lerna.json
  package.json
  yarn.lock
Labels: chore

update version
  .github/workflows/bump-version.yaml
Labels: chore

update version
  .github/workflows/bump-version.yaml
Labels: chore

update version
  .github/workflows/bump-version.yaml
Labels: chore

bump version
  lerna.json
  libs/dayjs/package.json
  libs/jest/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

update version
  .github/workflows/bump-version.yaml
  lerna.json
  package.json
  scripts/lerna-version.js
  yarn.lock
Labels: chore

bump version
  lerna.json
  libs/dayjs/package.json
  libs/jest/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

add checkout
  .github/workflows/label.yaml
Labels: chore

fix script
  .github/workflows/label.yaml
Labels: chore

bump version
  lerna.json
  libs/dayjs/package.json
  libs/jest/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

add tag
  .github/workflows/bump-version.yaml
Labels: chore

add tag
  .github/workflows/bump-version.yaml
Labels: chore

bump version
  lerna.json
  libs/dayjs/package.json
  libs/jest/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

add hooks test
  libs/jest/config.js
  libs/jest/index.tsx
  libs/jest/lib/queryClient.tsx
  libs/jest/package.json
  packages/ui/components/Button/Button.tsx
  packages/ui/components/Button/__snapshots__/Button.test.tsx.snap
  packages/web/src/mocks/server.ts
  packages/web/src/pages/index.test.tsx
  packages/web/src/pages/register.test.tsx
  packages/web/src/presentation/edit/EditView/__snapshots__/EditView.test.tsx.snap
  packages/web/src/presentation/register/RegisterView/RegisterView.tsx
  packages/web/src/presentation/register/RegisterView/__snapshots__/RegisterView.test.tsx.snap
  yarn.lock
Labels: web, chore

bump version
  lerna.json
  libs/dayjs/package.json
  libs/jest/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

use vite
  .eslintrc.cjs
  libs/storybook/config/main.js
  libs/storybook/config/main.ts
  libs/storybook/config/preview.ts
  libs/storybook/package.json
  package.json
  packages/ui/.storybook/main.js
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/components/Checkbox/Checkbox.tsx
  packages/ui/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/ui/components/InputField/InputField.tsx
  packages/ui/components/InputField/__snapshots__/InputField.test.tsx.snap
  packages/web/.storybook/main.js
  packages/web/.storybook/main.ts
  packages/web/.storybook/preview.ts
  packages/web/package.json
  packages/web/src/presentation/detail/DetailView/DetailView.tsx
  packages/web/src/presentation/detail/DetailView/__snapshots__/DetailView.test.tsx.snap
  packages/web/src/presentation/edit/EditView/__snapshots__/EditView.test.tsx.snap
  packages/web/src/presentation/home/HomeView/HomeView.tsx
  packages/web/src/presentation/home/HomeView/__snapshots__/HomeView.test.tsx.snap
  packages/web/src/presentation/home/TodoItem/TodoItem.tsx
  packages/web/src/presentation/home/TodoItem/__snapshots__/TodoItem.test.tsx.snap
  packages/web/src/presentation/register/RegisterView/RegisterView.tsx
  packages/web/src/presentation/register/RegisterView/__snapshots__/RegisterView.test.tsx.snap
  yarn.lock
Labels: web, chore

add a11y test
  .github/workflows/a11y-test.yaml
  libs/playwright/package.json
  packages/web/package.json
  packages/web/snapshot/a11y.test.ts
  yarn.lock
Labels: web, chore

fix NUMBER
  .github/workflows/a11y-test.yaml
Labels: chore

fix a11y test
  .github/workflows/a11y-test.yaml
  packages/web/package.json
Labels: web, chore

fix number
  .github/workflows/a11y-test.yaml
Labels: chore

fix a11y test
  .github/workflows/a11y-test.yaml
  packages/web/package.json
  packages/web/snapshot/a11y.test.ts
  packages/web/snapshot/reporter.ts
Labels: web, chore

fix number
  .github/workflows/a11y-test.yaml
Labels: chore

add tag
  .github/workflows/bump-version.yaml
Labels: chore

fix a11y test
  .github/workflows/a11y-test.yaml
  packages/web/package.json
  packages/web/snapshot/a11y.test.ts
  packages/web/snapshot/reporter.ts
  yarn.lock
Labels: web, chore

bump version
  lerna.json
  libs/dayjs/package.json
  libs/jest/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

fix a11y test
  .github/workflows/a11y-test.yaml
  packages/web/package.json
  packages/web/snapshot/a11y.test.ts
  packages/web/snapshot/reporter.ts
  yarn.lock
Labels: web, chore

add tag
  .github/workflows/bump-version.yaml
Labels: chore

bump version
  lerna.json
  libs/dayjs/package.json
  libs/jest/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

update version
  .github/actions/setup-node/action.yaml
  .github/workflows/a11y-test.yaml
  .github/workflows/danger.yaml
  .github/workflows/label.yaml
  .github/workflows/test.yaml
  .github/workflows/visual-regression-test-ui.yaml
  .github/workflows/visual-regression-test-web.yaml
Labels: chore

create pr
  .github/workflows/bump-version.yaml
Labels: chore

bump version
  lerna.json
  libs/dayjs/package.json
  libs/jest/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

fix switch
  .github/workflows/bump-version.yaml
Labels: chore

bump version
  lerna.json
  libs/dayjs/package.json
  libs/jest/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

fix body
  .github/workflows/bump-version.yaml
Labels: chore

.github/labeler.yml:

web:
  - packages/web/**/*
api:
  - packages/api/**/*
chore:
  - libs/**/*
  - tools/**/*
  - .github/**/*
