Repository ueki-tomohiro/storybook-visual-regression-test, changes with the labels that .github/labeler.yml gives for each.
All labels: web, api, chore

bump version
  lerna.json
  libs/dayjs/package.json
  libs/jest/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

test
  packages/ui/components/Divider/Divider.module.css
  packages/ui/components/Divider/Divider.stories.tsx
  packages/ui/components/Divider/Divider.test.tsx
  packages/ui/components/Divider/Divider.tsx
  packages/ui/components/Divider/__snapshots__/Divider.test.tsx.snap
  packages/ui/components/Divider/index.ts
Labels: none

test css modules
  libs/storybook/config/main.js
  libs/storybook/package.json
  packages/web/package.json
  yarn.lock
Labels: web, chore

test css modules
  libs/storybook/config/main.js
Labels: chore

fix storybook build
  libs/storybook/config/main.js
  libs/storybook/package.json
  packages/ui/package.json
  packages/web/.storybook/main.js
  yarn.lock
Labels: web, chore

fix storybook build
  packages/ui/.storybook/main.js
Labels: none

update storybook
  libs/storybook/config/main.js
  libs/storybook/package.json
  packages/ui/package.json
  yarn.lock
Labels: chore

slack notification
  .github/workflows/a11y-test.yaml
  .gitignore
  packages/web/package.json
  packages/web/snapshot/slack.ts
Labels: web, chore

fix workflow
  .github/workflows/a11y-test.yaml
  .gitignore
  packages/web/snapshot/slack.ts
Labels: web, chore

fix notification
  .github/workflows/a11y-test.yaml
  .github/workflows/notification.yaml
Labels: chore

fix output
  .github/workflows/a11y-test.yaml
  .github/workflows/notification.yaml
  packages/web/snapshot/slack.ts
Labels: web, chore

add coverage
  libs/storybook/config/main.ts
  libs/storybook/package.json
  packages/web/package.json
  yarn.lock
Labels: web, chore

add coverage
  packages/web/package.json
Labels: web

fix tag
  .github/workflows/bump-version.yaml
Labels: chore

add coverage
  libs/storybook/config/main.ts
  libs/storybook/package.json
  packages/web/package.json
  yarn.lock
Labels: web, chore

add coverage
  packages/web/package.json
Labels: web

add coverage
  .github/workflows/test.yaml
Labels: chore

fix check out
  .github/workflows/test.yaml
  libs/vitest/helpers/index.tsx
  libs/vitest/package.json
  package.json
  packages/ui/components/Button/Button.test.tsx
  packages/ui/components/Checkbox/Checkbox.test.tsx
  packages/ui/components/Container/Container.test.tsx
  packages/ui/components/InputField/InputField.test.tsx
  packages/ui/components/LinkButton/LinkButton.test.tsx
  packages/ui/components/Meta/Meta.test.tsx
  packages/web/src/presentation/detail/DetailView/DetailView.test.tsx
  packages/web/src/presentation/edit/EditView/EditView.test.tsx
  packages/web/src/presentation/home/HomeView/HomeView.test.tsx
  packages/web/src/presentation/home/TodoItem/TodoItem.test.tsx
  packages/web/src/presentation/register/RegisterView/RegisterView.test.tsx
  yarn.lock
Labels: web, chore

create pr
  .github/workflows/auto-pr-release.yaml
Labels: chore

fix main
  .github/workflows/auto-pr-release.yaml
Labels: chore

add ignore option
  .github/workflows/test.yaml
Labels: chore

add checkout
  .github/workflows/auto-pr-release.yaml
Labels: chore

v0.0.1
  lerna.json
  libs/dayjs/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  libs/vitest/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

update auto pr
  .github/workflows/auto-pr-release.yaml
Labels: chore

fix check out
  .github/workflows/auto-pr-release.yaml
  .github/workflows/danger.yaml
Labels: chore

log
  .github/workflows/auto-pr-release.yaml
Labels: chore

log
  .github/workflows/auto-pr-release.yaml
Labels: chore

log
  .github/workflows/auto-pr-release.yaml
Labels: chore

log
  .github/workflows/auto-pr-release.yaml
Labels: chore

v0.0.2
  lerna.json
  libs/dayjs/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  libs/vitest/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

log
  .github/workflows/auto-pr-release.yaml
Labels: chore

log
  .github/workflows/auto-pr-release.yaml
Labels: chore

pr
  .github/workflows/auto-pr-release.yaml
Labels: chore

pr
  .github/workflows/auto-pr-release.yaml
Labels: chore

pr
  .github/workflows/auto-pr-release.yaml
Labels: chore

pr
  .github/workflows/auto-pr-release.yaml
Labels: chore

pr
  .github/workflows/auto-pr-release.yaml
Labels: chore

pr
  .github/workflows/auto-pr-release.yaml
Labels: chore

v0.0.3
  lerna.json
  libs/dayjs/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  libs/vitest/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

pr
  .github/workflows/auto-pr-release.yaml
Labels: chore

.github/labeler.yml:

web:
  - packages/web/**/*
api:
  - packages/api/**/*
chore:
  - libs/**/*
  - tools/**/*
  - .github/**/*
