Repository ueki-tomohiro/storybook-visual-regression-test, changes with the labels that .github/labeler.yml gives for each.
All labels: web, api, chore

fix create pr
  .github/workflows/auto-pr-release.yaml
Labels: chore

fix refs
  .github/workflows/auto-pr-release.yaml
Labels: chore

v0.0.1
  lerna.json
  libs/dayjs/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  libs/vitest/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

v0.0.2
  lerna.json
  libs/dayjs/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  libs/vitest/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

v0.0.3
  lerna.json
  libs/dayjs/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  libs/vitest/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

fix refs
  .github/workflows/auto-pr-release.yaml
Labels: chore

update README
  README.md
Labels: none

v0.0.4
  lerna.json
  libs/dayjs/package.json
  libs/playwright/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  libs/vitest/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

fix refs
  .github/workflows/auto-pr-release.yaml
Labels: chore

add lighthouse
  .github/workflows/lighthouse.yaml
Labels: chore

update lighthouse
  .github/workflows/lighthouse.yaml
Labels: chore

remove lighthouse
  .github/workflows/lighthouse.yaml
Labels: chore

add auto reviewers
  .github/auto_assign.yaml
  .github/workflows/assign-reviewers.yaml
  .github/workflows/test.yaml
Labels: chore

add coverage
  libs/storybook/config/main.ts
  libs/storybook/package.json
  packages/web/package.json
  yarn.lock
Labels: web, chore

add coverage
  packages/web/package.json
Labels: web

add coverage
  libs/storybook/package.json
  packages/web/package.json
  yarn.lock
Labels: web, chore

add coverage
  libs/storybook/config/main.ts
  libs/storybook/package.json
  packages/web/package.json
  packages/web/snapshot/a11y.test.ts
  yarn.lock
Labels: web, chore

add coverage
  .github/auto_assign.yaml
Labels: chore

fix test
  .github/workflows/test.yaml
Labels: chore

fix review
  .github/workflows/test.yaml
Labels: chore

review test
  packages/web/src/pages/register.test.tsx
  packages/web/src/pages/register.tsx
Labels: web

add CLAUDE.md
  CLAUDE.md
Labels: none

format
  .github/workflows/a11y-test.yaml
  .github/workflows/bump-version.yaml
  lerna.json
  libs/vitest/package.json
Labels: chore

add claude actions
  .github/workflows/claude.yml
  .github/workflows/issue-triage.yml
Labels: chore

fix permission
  .github/workflows/claude.yml
Labels: chore

fix permission
  .github/workflows/claude.yml
Labels: chore

fix
  .github/workflows/claude.yml
Labels: chore

fix
  .github/workflows/claude.yml
Labels: chore

chore: voltaからmiseに移行しNode.jsバージョンを22に更新
  .gitignore
  .mise.toml
  .node-version
  .tool-versions
  libs/dayjs/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  libs/vitest/package.json
  package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

fix: レビュー指摘を修正
  .mise.toml
  .node-version
  libs/dayjs/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  libs/vitest/package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  tools/api-client-generator/package.json
Labels: web, api, chore

fix: package.jsonのトレイリングカンマを修正
  libs/dayjs/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  libs/vitest/package.json
  packages/api/package.json
  packages/ui/package.json
  tools/api-client-generator/package.json
Labels: api, chore

fix: canvasパッケージのビルドに必要なシステムライブラリをCIに追加
  .github/actions/setup-node/action.yaml
Labels: chore

fix: TypeScriptを5.9.3にアップグレード
  package.json
  packages/api/package.json
  packages/web/package.json
  yarn.lock
Labels: web, api

feat: migrate VRT report hosting from S3 to GitHub Pages
  .github/workflows/cleanup-vrt-report.yaml
  .github/workflows/visual-regression-test.yaml
  regconfig.json
Labels: chore

refactor: unify visual regression workflow and selector
  .github/workflows/visual-regression-test-ui.yaml
  .github/workflows/visual-regression-test-web.yaml
  .github/workflows/visual-regression-test.yaml
  package.json
  packages/ui/.storybook/main.ts
  packages/web/.storybook/main.ts
  regconfig.json
  tools/vrt-selector/src/constants.js
  tools/vrt-selector/src/story-candidates.js
  tools/vrt-selector/src/story-candidates.test.js
Labels: web, chore

fix: PR #137 レビューコメントへの対応
  .github/workflows/cleanup-vrt-report.yaml
  .github/workflows/visual-regression-test.yaml
  package.json
  packages/ui/package.json
  packages/web/package.json
  tools/vrt-selector/src/constants.js
  tools/vrt-selector/src/story-candidates.js
Labels: web, chore

fix: Storybook v8の index.json 対応とテスト0件時のスキップを追加
  packages/ui/package.json
  packages/ui/snapshot/snapshot.test.ts
  packages/web/package.json
  packages/web/snapshot/snapshot.test.ts
Labels: web

fix: PR/base ブランチで使用する story-files を分離
  .github/workflows/visual-regression-test.yaml
Labels: chore

fix: typecheck・vrtest エラー修正と pnpm lockfile 再生成
  .github/actions/setup-node/action.yaml
  .github/workflows/a11y-test.yaml
  .github/workflows/bump-version.yaml
  .github/workflows/claude.yml
  .github/workflows/test.yaml
  .github/workflows/visual-regression-test.yaml
  .gitignore
  .mise.toml
  .tool-versions
  CLAUDE.md
  README.md
  lerna.json
  libs/dayjs/package.json
  libs/storybook/package.json
  libs/tailwind/package.json
  libs/types/package.json
  libs/vitest/package.json
  package.json
  packages/api/package.json
  packages/ui/package.json
  packages/web/package.json
  packages/web/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/api-client-generator/package.json
  tools/api-client-generator/yarn.lock
  tools/vrt-selector/src/story-candidates.js
  tools/vrt-selector/src/story-candidates.test.js
  yarn.lock
Labels: web, api, chore

fix: pnpm shamefully-hoist と依存関係整備でテスト通過
  .npmrc
  libs/vitest/package.json
  packages/ui/package.json
  packages/web/package.json
  pnpm-lock.yaml
Labels: web, chore

.github/labeler.yml:

web:
  - packages/web/**/*
api:
  - packages/api/**/*
chore:
  - libs/**/*
  - tools/**/*
  - .github/**/*
